build
*.go
coverage
coverage.json

# @nomiclabs/hardhat
cache/
artifacts/

# solidity-coverage
coverage*

# vscode
.vscode*

# Node
node_modules/

# Idea
.idea/
.idea/*

# Env
.env

# hardhat-deploy
deployments/hardhat
deployments/localhost
deployments/localcluster
deployedContracts2.sh
yarn-error.log

# Misc
contractsInfo.json
.DS_Store
