name: CI

on:
  push:
    branches: 
      - master
  pull_request:
    branches:
      - '**'

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12'

      # Restore the yarn cache
      - uses: c-hive/gha-yarn-cache@v1
      
      - name: Yarn install
        run: yarn install

      - name: Linter
        run: yarn lint
            
      - name: Compile
        run: yarn compile
      
      - name: Test
        run: yarn test

      - name: Coverage
        run: yarn hardhat coverage